/*1025-1199*/
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
}

/*992-1024*/
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .MenuBox ul li a {
    font-size: 13px;
  }
  .dropdown.categoryMenu button {
    font-size: 13px;
  }
  .MenuBox ul {
    gap: 22px;
  }
  .category-menu::before {
    content: "";
    display: block;
    border: 10px solid transparent;
    border-bottom: 10px solid #f0f8ff;
    width: 0;
    position: absolute;
    top: -20px;
    right: 89%;
    transform: translateX(50%);
    z-index: 1;
  }
  .iconTextBox {
    display: flex;
    gap: 60px;
  }
  .s_card p {
    font-size: 12px;
  }
}

/*768-991*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  ul.dropdown-menu::before {
    content: "";
    display: block;
    border: 10px solid transparent;
    border-bottom: 10px solid white;
    width: 0;
    position: absolute;
    top: -20px;
    right: 28%;
    transform: translateX(50%);
    z-index: 1;
  }
  .input-group {
    width: 86%;
    margin-left: 68px;
  }
  .MenuBox ul li:nth-last-child(-n + 3) {
    display: none;
  }

  .MenuBox ul li a {
    font-size: 12px;
  }
  .dropdown.categoryMenu button {
    font-size: 12px;
  }
  .MenuBox ul {
    gap: 22px;
    padding: 0;
  }
  .category-menu::before {
    content: "";
    display: block;
    border: 10px solid transparent;
    border-bottom: 10px solid #f0f8ff;
    width: 0;
    position: absolute;
    top: -20px;
    right: 9%;
    transform: translateX(50%);
    z-index: 1;
  }
  .navDiv {
    padding: 0px 8px;
    background-color: #0a3a75;
  }
  .iconTextBox {
    display: flex;
    gap: 34px;
  }
  .icondiv {
    margin: 11px 0px;
  }
  .iconTxt p {
    font-size: 14px;
  }
  .slider_stories {
    margin: 2px 12px;
  }

  .topcards {
    display: flex;
    gap: 6px;
    flex-direction: column;
    padding: 21px 0px;
  }
  .bottomcards {
    display: none;
  }
  .mbscard {
    display: none;
  }
  .allIcons.cat_icon:nth-last-child(-n + 5) {
    display: none;
  }
  .allIcons {
    display: flex;
    gap: 18px;
    margin: 1px 0px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px -1px #ccc;
    border: 1px solid #0000000a;
  }
  .storyDivs {
    padding: 9px 15px;
  }
  .allIcons .cat_icon:nth-child(-n + 5) {
    display: none;
  }

  /* main content section start */
  div#sidebarCol {
    display: none;
  }

  .col-md-8.main_col {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }

  section.main_content {
    margin: 0px 12px;
    margin-top: 12px;
  }
  .blogimg {
    width: 48%;
  }
  /* main content section end */
  .storiescard.desktops .bottomcards {
    display: flex;
    flex-direction: row;
    padding-top: 0;
  }

  .topcards .mbcard {
    display: block !important;
  }
  .deskmb {
    display: block;
  }
  .topcards.dsktop {
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 5px;
  }
  .col-md-3.text-center.text-md-start.mb-3.logoanasocalf img {
    width: 141px;
  }

  .first4 a {
    font-size: 20px;
  }

  .social_icons {
    left: -13px;
  }

  .second4 a {
    font-size: 20px;
  }

  .row.menuRowfooter h5 {
    font-size: 16px;
  }
  .bottom_menu ul {
    display: flex;
    gap: 18px;
    margin: 0;
    padding: 0;
    justify-content: end;
  }
  .bottom_menu ul li a {
    text-decoration: none;
    color: #5eb9f9;
    font-size: 12px;
  }
  p.cpyrightext {
    font-size: 12px;
    margin: 0;
    font-weight: 400;
  }
}
/*576-767*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .desktop_menu {
    display: none;
  }
  .MobileMenu {
    display: block;
  }
  .navDiv {
    padding: 0px 0px;
    background-color: #0a3a75;
  }
  i.fas.fa-search {
    color: #757575;
  }

  i.fa-solid.fa-ellipsis-vertical {
    color: #757575;
    font-size: 19px;
  }
  .navbox img {
    width: 122px;
    width: 123px;
    padding-bottom: 8px;
    margin-left: 11px;
    margin-right: 9px;
  }
  .dropdown3 button {
    padding: 0;
  }
  .dropdown3 {
    width: 1%;
  }
  .allcategories {
    display: none;
  }
  .mobile_category_section {
    display: block;
  }
  .iconBox {
    gap: 66px;
  }
  .iconTextBox {
    display: flex;
    gap: 45px;
    justify-content: center;
  }
  .icondiv {
    margin: 5px 0px;
    padding: 10px;
  }
  .iconTxt p {
    font-size: 13px;
    padding-top: 4px;
  }
  .hicon {
    display: none !important;
  }
  .iconTxt {
    display: block;
    text-align: center;
  }
  .iconTxt img {
    width: 70px;
    height: 70px;
  }
  .allIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1px 0px;
    padding: 10px 9px;
  }

  .cat_icon {
    width: 15%;
    margin-bottom: 0px;
  }
  .cat_icon.mobileItem {
    display: block;
  }
  .cat_icon img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .slider_stories {
    margin: 2px 5px;
  }
  .desktopStoryDiv {
    display: none;
  }
  .mobile_storySection {
    display: block;
  }
  .col-12.storyColm {
    padding: 0px 4px;
  }
  .allIconcol {
    padding: 4px 0px;
  }
  .amazon_hub {
    display: block;
  }
  /* main content section start */
  div#sidebarCol {
    display: none;
  }

  .col-md-8.main_col {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }

  section.main_content {
    margin: 0px 12px;
    margin-top: 12px;
  }

  .productdiv {
    flex: 1 1 calc(33.33% - 10px) !important; /* 3 products per row */
  }
  .lproduct {
    display: none;
  }
  .imgdiv img {
    width: 80%;
    max-width: 140px;
    transition: transform 0.3s ease-in-out;
  }
  .blogimg {
    width: 83%;
  }
  /* popular tv */
  .tvimg {
    width: 14%;
  }
  .textanddot {
    width: 80%;
  }
  .tvtxt h4 {
    font-size: 14px;
  }
  .tvtxt p {
    font-size: 15px;
  }
  /* popular tv end */
  /* new phone */
  .mobileimg img {
    width: 121px;
  }
  /* new phone end */
  .latest_newsdiv {
    padding: 2px 0px;
  }
  .storiescard.desktops {
    display: none;
  }
  .popular_mobiles.latestNews .divHeader {
    padding-bottom: 0;
  }
  .storyDivs.mobileStorydivs.tandingNewsm {
    background: none;
  }
  .row.comparisonRow {
    margin: 0;
  }
  .col-md-6.popularComparison {
    padding: 0px 3px;
  }

  .bottom_menu ul {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .bottom_menu ul li a {
    text-decoration: none;
    color: #5eb9f9;
    font-size: 15px;
  }
  p.cpyrightext {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    padding-bottom: 10px;
  }
  .row.menuRowfooter {
    display: none;
  }

  .socialMobilemenu {
    display: block;
  }

  .first4 {
    gap: 38px;
    justify-content: center;
  }

  .cpy_right {
    margin-top: 5px;
    text-align: center;
    padding-top: 15px;
  }
}
/*480-575*/
@media only screen and (min-width: 480px) and (max-width: 575px) {
  .desktop_menu {
    display: none;
  }
  .MobileMenu {
    display: block;
  }
  .navDiv {
    padding: 0px 0px;
    background-color: #0a3a75;
  }
  i.fas.fa-search {
    color: #757575;
  }

  i.fa-solid.fa-ellipsis-vertical {
    color: #757575;
    font-size: 19px;
  }
  .navbox img {
    width: 122px;
    width: 123px;
    margin-left: 15px;
    margin-right: 9px;
  }
  .allcategories {
    display: none;
  }
  .mobile_category_section {
    display: block;
  }
  .iconBox {
    gap: 50px;
  }
  .iconBox {
    gap: 50px;
  }
  .iconTextBox {
    display: flex;
    gap: 45px;
  }
  .icondiv {
    margin: 5px 0px;
    padding: 10px;
  }
  .iconTxt p {
    font-size: 13px;
    padding-top: 8px;
  }
  .hicon {
    display: none !important;
  }
  .iconTxt {
    display: block;
    text-align: center;
  }
  .iconTxt img {
    width: 50px;
    height: 50px;
  }
  .allIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1px 0px;
    padding: 10px 9px;
  }

  .cat_icon {
    width: 15%;
    margin-bottom: 0px;
  }
  .cat_icon.mobileItem {
    display: block;
  }
  .cat_icon img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .slider_stories {
    margin: 2px 5px;
  }
  .desktopStoryDiv {
    display: none;
  }
  .mobile_storySection {
    display: block;
  }
  .col-12.storyColm {
    padding: 0px 4px;
  }
  .allIconcol {
    padding: 4px 0px;
  }
  .col-xs-12.amazonCol {
    padding: 0px 2px;
  }
  .amazon_hub {
    display: block;
  }
  /* main content section start */
  div#sidebarCol {
    display: none;
  }

  .col-md-8.main_col {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }

  section.main_content {
    margin: 0px 12px;
    margin-top: 12px;
  }

  .productdiv {
    flex: 1 1 calc(33.33% - 10px) !important; /* 3 products per row */
  }
  .lproduct {
    display: none;
  }
  .imgdiv img {
    width: 80%;
    max-width: 140px;
    transition: transform 0.3s ease-in-out;
  }
  .blogimg {
    width: 50%;
  }
  .blogText {
    width: 50%;
  }
  /* popular tv */
  .tvimg {
    width: 20%;
  }
  .textanddot {
    width: 80%;
  }
  .tvtxt h4 {
    font-size: 13px;
  }
  .tvtxt p {
    font-size: 15px;
  }
  /* popular tv end */
  .mobileimg img {
    width: 121px;
  }
  .mobileProduct {
    flex: 0 0 auto;
    width: calc(30% - 10px);
    margin: 0 10px;
  }
  /* new phone end */
  .latest_newsdiv {
    padding: 2px 0px;
  }

  .storiescard.desktops {
    display: none;
  }
  .storyDivs.mobileStorydivs.tandingNewsm {
    background: none;
  }
  .row.comparisonRow {
    margin: 0;
  }
  .col-md-6.popularComparison {
    padding: 0px 3px;
  }
  .bottom_menu ul {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .bottom_menu ul li a {
    text-decoration: none;
    color: #5eb9f9;
    font-size: 13px;
  }
  p.cpyrightext {
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    padding-bottom: 10px;
  }
  .row.menuRowfooter {
    display: none;
  }

  .socialMobilemenu {
    display: block;
  }

  .first4 {
    gap: 30px;
    justify-content: center;
  }

  .cpy_right {
    margin-top: 5px;
    text-align: center;
    padding-top: 15px;
  }
}
/*425-479*/
@media only screen and (min-width: 425px) and (max-width: 479px) {
  .desktop_menu {
    display: none;
  }
  .MobileMenu {
    display: block;
  }
  .navDiv {
    padding: 0px 0px;
    background-color: #0a3a75;
  }
  i.fas.fa-search {
    color: #757575;
  }

  i.fa-solid.fa-ellipsis-vertical {
    color: #757575;
    font-size: 14px;
  }
  .navbox img {
    width: 122px;
    width: 123px;
    margin-left: 15px;
    margin-right: 9px;
    padding-bottom: 8px;
  }
  .dropdown3 {
    width: 2%;
  }
  button#dropdownButton {
    padding: 0;
    align-items: center;
  }
  .dropdown3menu {
    width: 185px !important;
  }
  .allcategories {
    display: none;
  }
  .mobile_category_section {
    display: block;
  }
  .iconBox {
    gap: 42px;
  }
  .iconBox {
    gap: 43px;
  }
  .iconTextBox {
    display: flex;
    gap: 37px;
  }
  .icondiv {
    margin: 5px 0px;
    padding: 10px;
  }
  .iconTxt p {
    font-size: 13px;
    padding-top: 4px;
  }
  .hicon {
    display: none !important;
  }
  .iconTxt {
    display: block;
    text-align: center;
  }
  .iconTxt img {
    width: 40px;
    height: 40px;
  }
  .allIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1px 0px;
    padding: 10px 9px;
  }

  .cat_icon {
    width: 15%;
    margin-bottom: 0px;
  }
  .cat_icon.mobileItem {
    display: block;
  }
  .cat_icon img {
    width: 65px;
    height: 65px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .slider_stories {
    margin: 2px 5px;
  }
  .desktopStoryDiv {
    display: none;
  }
  .mobile_storySection {
    display: block;
  }
  .col-12.storyColm {
    padding: 0px 4px;
  }
  .allIconcol {
    padding: 4px 0px;
  }
  .col-xs-12.amazonCol {
    padding: 0px 2px;
  }
  .storyDivs.mobileStorydivs {
    padding: 10px 5px;
  }
  .amazon_hub {
    display: block;
  }
  /* main content section start */
  div#sidebarCol {
    display: none;
  }

  .col-md-8.main_col {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }

  section.main_content {
    margin: 0px 0px;
    margin-top: 12px;
  }

  .productdiv {
    flex: 1 1 calc(33.33% - 10px) !important; /* 3 products per row */
  }
  .lproduct {
    display: none;
  }
  .imgdiv img {
    width: 80%;
    max-width: 140px;
    transition: transform 0.3s ease-in-out;
  }
  .blogimg {
    width: 35%;
  }
  .blogText {
    width: 65%;
  }
  /* popular tv */
  .tvimg {
    width: 20%;
  }
  .textanddot {
    width: 80%;
  }
  .tvtxt h4 {
    font-size: 13px;
  }
  .tvtxt p {
    font-size: 15px;
  }
  /* popular tv end */

  .mobileimg img {
    width: 121px;
  }
  .mobileProduct {
    flex: 0 0 auto;
    width: calc(30% - 10px);
    margin: 0 10px;
  }
  /* new phone end */
  .latest_newsdiv {
    padding: 2px 0px;
  }
  .latest_newsdiv {
    padding: 2px 0px;
  }

  .storiescard.desktops {
    display: none;
  }
  .storyDivs.mobileStorydivs.tandingNewsm {
    background: none;
  }
  .popular_mobiles.latestNews .divHeader {
    padding-bottom: 0;
  }
  .row.comparisonRow {
    margin: 0;
  }
  .col-md-6.popularComparison {
    padding: 0px 3px;
  }
  .bottom_menu ul {
    display: flex;
    gap: 27px;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .bottom_menu ul li a {
    text-decoration: none;
    color: #5eb9f9;
    font-size: 13px;
  }
  p.cpyrightext {
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    padding-bottom: 10px;
  }
  .row.menuRowfooter {
    display: none;
  }

  .socialMobilemenu {
    display: block;
  }

  .first4 {
    gap: 25px;
    justify-content: center;
  }

  .cpy_right {
    margin-top: 5px;
    text-align: center;
    padding-top: 15px;
  }
}
/*375-424*/
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .desktop_menu {
    display: none;
  }
  .MobileMenu {
    display: block;
  }
  .navDiv {
    padding: 0px 0px;
    background-color: #0a3a75;
  }
  i.fas.fa-search {
    color: #757575;
  }

  i.fa-solid.fa-ellipsis-vertical {
    color: #757575;
    font-size: 15px;
  }
  .navbox img {
    width: 122px;
    width: 123px;
    margin-left: 15px;
    margin-right: 9px;
    padding-bottom: 8px;
  }
  .dropdown3 {
    width: 2%;
  }
  button#dropdownButton {
    padding: 0;
    align-items: center;
  }
  .dropdown3menu {
    width: 185px !important;
  }
  .allcategories {
    display: none;
  }
  .mobile_category_section {
    display: block;
  }
  .iconBox {
    gap: 34px;
    padding: 12px 0px;
  }
  .iconBox {
    gap: 35px;
  }
  .iconTextBox {
    display: flex;
    gap: 29px;
  }
  .icondiv {
    margin: 5px 0px;
    padding: 10px;
  }
  .iconTxt p {
    font-size: 13px;
    padding-top: 4px;
  }
  .hicon {
    display: none !important;
  }
  .iconTxt {
    display: block;
    text-align: center;
  }
  .iconTxt img {
    width: 40px;
    height: 40px;
  }
  .allIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1px 0px;
    padding: 10px 9px;
  }

  .cat_icon {
    width: 14%;
    margin-bottom: 0px;
  }
  .cat_icon.mobileItem {
    display: block;
  }
  .cat_icon img {
    width: 55px;
    height: 55px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .slider_stories {
    margin: 2px 5px;
  }
  .desktopStoryDiv {
    display: none;
  }
  .mobile_storySection {
    display: block;
  }
  .col-12.storyColm {
    padding: 0px 4px;
  }
  .allIconcol {
    padding: 4px 0px;
  }
  .col-xs-12.amazonCol {
    padding: 0px 2px;
  }
  .storyDivs.mobileStorydivs {
    padding: 0px 5px;
  }

  .s_card p {
    font-size: 13px;
  }
  .amazon_hub {
    display: block;
  }
  /* main content section start */
  div#sidebarCol {
    display: none;
  }

  .col-md-8.main_col {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }

  section.main_content {
    margin: 0px 0px;
    margin-top: 12px;
  }

  .productdiv {
    flex: 1 1 calc(33.33% - 10px) !important; /* 3 products per row */
  }
  .lproduct {
    display: none;
  }
  .imgdiv img {
    width: 80%;
    max-width: 140px;
    transition: transform 0.3s ease-in-out;
  }
  .blogimg {
    width: 36%;
  }
  .blogText {
    width: 64%;
  }
  /* popular tv */
  .tvimg {
    width: 20%;
  }
  .textanddot {
    width: 80%;
  }
  .tvtxt h4 {
    font-size: 13px;
  }
  .tvtxt p {
    font-size: 15px;
  }
  /* popular tv end */
  .mobileimg img {
    width: 103px;
  }
  .mobileProduct {
    flex: 0 0 auto;
    width: calc(37% - 10px);
    margin: 0 10px;
  }
  /* new phone end */
  .latest_newsdiv {
    padding: 2px 0px;
  }
  .storiescard.desktops {
    display: none;
  }
  .storyDivs.mobileStorydivs.tandingNewsm {
    background: none;
  }
  .popular_mobiles.latestNews .divHeader {
    padding-bottom: 0;
  }
  .row.comparisonRow {
    margin: 0;
  }
  .col-md-6.popularComparison {
    padding: 0px 3px;
  }
  .bottom_menu ul {
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .bottom_menu ul li a {
    text-decoration: none;
    color: #5eb9f9;
    font-size: 13px;
  }
  p.cpyrightext {
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    padding-bottom: 10px;
  }
  .row.menuRowfooter {
    display: none;
  }

  .socialMobilemenu {
    display: block;
  }

  .first4 {
    gap: 19px;
    justify-content: center;
  }

  .cpy_right {
    margin-top: 5px;
    text-align: center;
    padding-top: 15px;
  }
  footer.text-light.py-4 {
    background: #0a3a75;
    padding: 10px 0px;
    margin-top: 20px;
  }
}
/*320-374*/
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .desktop_menu {
    display: none;
  }
  .MobileMenu {
    display: block;
  }
  .navDiv {
    padding: 0px 0px;
    background-color: #0a3a75;
  }
  i.fas.fa-search {
    color: #757575;
  }

  i.fa-solid.fa-ellipsis-vertical {
    color: #757575;
    font-size: 13px;
  }
  .navbox img {
    width: 122px;
    width: 123px;
    margin-left: 15px;
    margin-right: 9px;
    padding-bottom: 8px;
  }
  .dropdown3 {
    width: 2%;
  }
  button#dropdownButton {
    padding: 0;
    align-items: center;
  }
  .dropdown3menu {
    width: 185px !important;
  }
  .allcategories {
    display: none;
  }
  .mobile_category_section {
    display: block;
  }
  .iconBox {
    gap: 26px;
    padding: 10px 0px;
  }
  .iconBox {
    gap: 26px;
  }
  .iconTextBox {
    display: flex;
    gap: 24px;
  }
  .icondiv {
    margin: 5px 0px;
    padding: 10px;
  }
  .iconTxt p {
    font-size: 11px;
    padding-top: 4px;
  }
  .hicon {
    display: none !important;
  }
  .iconTxt {
    display: block;
    text-align: center;
  }
  .iconTxt img {
    width: 35px;
    height: 35px;
  }
  .allIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1px 0px;
    padding: 10px 9px;
  }

  .cat_icon {
    width: 13%;
    margin-bottom: 0px;
  }
  .cat_icon.mobileItem {
    display: block;
  }
  .cat_icon img {
    width: 42px;
    height: 42px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .slider_stories {
    margin: 2px 5px;
  }
  .desktopStoryDiv {
    display: none;
  }
  .mobile_storySection {
    display: block;
  }
  .col-12.storyColm {
    padding: 0px 4px;
  }
  .allIconcol {
    padding: 4px 0px;
  }
  .col-xs-12.amazonCol {
    padding: 0px 2px;
  }
  .storyDivs.mobileStorydivs {
    padding: 10px 5px;
  }
  .amazon_hub {
    display: block;
  }
  /* main content section start */
  div#sidebarCol {
    display: none;
  }

  .col-md-8.main_col {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }

  section.main_content {
    margin: 0px 0px;
    margin-top: 12px;
  }

  .productdiv {
    flex: 1 1 calc(33.33% - 10px) !important;
  }
  .lproduct {
    display: none;
  }
  .imgdiv img {
    width: 80%;
    max-width: 140px;
    transition: transform 0.3s ease-in-out;
  }
  .blogimg {
    width: 33%;
  }
  .blogText {
    width: 67%;
  }
  /* popular tv */
  .tvimg {
    width: 20%;
  }
  .textanddot {
    width: 80%;
  }
  .tvtxt h4 {
    font-size: 13px;
  }
  .tvtxt p {
    font-size: 15px;
  }
  /* popular tv end */
  .mobileimg img {
    width: 83px;
  }
  .mobileProduct {
    flex: 0 0 auto;
    width: calc(30% - 10px);
    margin: 0 10px;
  }
  /* new phone end */
  .latest_newsdiv {
    padding: 2px 0px;
  }
  .storiescard.desktops {
    display: none;
  }
  .storyDivs.mobileStorydivs.tandingNewsm {
    background: none;
  }
  .popular_mobiles.latestNews .divHeader {
    padding-bottom: 0;
  }
  .row.comparisonRow {
    margin: 0;
  }
  .col-md-6.popularComparison {
    padding: 0px 3px;
  }
  .bottom_menu ul {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .bottom_menu ul li a {
    text-decoration: none;
    color: #5eb9f9;
    font-size: 14px;
  }
  p.cpyrightext {
    font-size: 11px;
    margin: 0;
    font-weight: 400;
    padding-bottom: 10px;
  }
  .row.menuRowfooter {
    display: none;
  }

  .socialMobilemenu {
    display: block;
  }

  .first4 {
    gap: 14px;
    justify-content: center;
  }

  .cpy_right {
    margin-top: 5px;
    text-align: center;
    padding-top: 15px;
  }
  footer.text-light.py-4 {
    background: #0a3a75;
    padding: 10px 0px;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    z-index: 1050;
    transform: translateX(0);
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .swiper-slide.s_card {
    width: 303px;
    height: 231px;
    margin: 0 10px;
  }
  .swiper.storiesSlider.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    padding: 0;
  }

  .image-wrapper {
    height: 81%;
    overflow: hidden;
  }
  .s_card p {
    bottom: 0px;
  }
  .swiper-slide.s_card p {
    font-size: 14px;
    padding: 18px;
  }
}
